includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max

    paths:
        - src
        - tests

    phpVersion: 80400

    tmpDir: var/phpstan

    bootstrapFiles:
        - vendor/autoload.php

    reportUnmatchedIgnoredErrors: true
